/* Small Screens */

@media screen and (max-width:320px) {
	#header h1 {
		font-size:180%;
		margin-top:-15px;
	}
	h2 {
		font-size: 130%;
		line-height: 2rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	h3 {
		font-size: 110%;
		line-height: 1.5rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
	}
	.header-logo {
		width:20%;
	}
	.header-title {
		width:80%;
	}
	#header {
		padding:10px;
	}
	.header-logo img {
		height:40px;
	}
}

@media screen and (min-width:321px) and (max-width: 375px) {
	.header-logo img {
		height: 50px;
	}

	h1 {
		font-size: 200%;
		line-height: 2.5rem;
		margin-top: 0;
		margin-bottom: 3rem;
	}

	h2 {
		font-size: 150%;
		line-height: 2rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 120%;
		line-height: 1.5rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
	}
	.header-title {
		width: 80%;
	}
	.header-logo {
		width:20%;
	}
	#header {
		padding:10px;
	}
}

@media screen and (min-width: 376px) and (max-width: 765px) {
	h1 {
		font-size: 260%;
		line-height: 3rem;
		margin-top: 1.5rem;
		margin-bottom: 3rem;
	}

	h2 {
		font-size: 180%;
		line-height: 2.25rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: 130%;
		line-height: 2rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
	}

	h4 {
		font-size: 100%;
		line-height: 1.5rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
	}

	h5 {
		font-size: 100%;
		line-height: 1.5rem;
		margin-top: 1.5rem;
		margin-bottom: 0rem;
	}
	#header h1 {
		margin-top: 0;
	}
	.header-title {
		width: 80%;
	}
	.header-logo {
		width: 20%;
	}
	#header {
		padding: 10px;
	}
}

/* Tablets */

@media screen and (min-width: 768px) {
	.header-title {
		text-align: right;
	}
	.header-logo img {
		height: 80px;
		top: 40px;
		position: absolute;
	}
}

/* Large Screens */

@media screen and (min-width: 1024px) {
	#featured-work .flex-wrapper {
		flex-wrap: wrap;
		margin: 0 -15px;
	}
	.featured-01,
	.featured-02,
	.featured-03 {
		width: 33.3333%;
	}
	#featured-work .inner-wrapper {
		padding: 0 15px;
	}
	h2.featured-work-title {
		padding: 0 15px;
	}
	body {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
	.hero {
		padding: 0 20px;
	}
	main.home {
		padding: 0;
	}
	#header {
		padding: 20px;
		margin: 20px;
	}
	.header-logo img {
		top: 60px;
	}

	footer {
		flex-wrap:wrap;
		margin-top:40px;
	}
	footer .copyright {
		width: 40%;
	}

	footer .navigation {
		width: 60%;
		text-align:right;
	}

	footer .navigation ul {
		border-top:none;
		display:inline-block;
		margin-top:0;
		padding-top:0;
	}
	footer .navigation ul li {
		float:left;
	}
	footer .navigation ul li a {
		padding:20px;
	}
}
